.login_page {
  .main {
    margin-top: 30px;
    .btn {
      text-align: center;
      .adm-button {
        margin-top: 50px;
        width: 200px;
        height: 60px;
      }
    }
  }
}
