.news_item {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  margin: 25px;
}

.news_item .left {
  padding: 15px 0;
  margin: 0 20px 0 0;
}

.news_item .left h2 {
  color: rgba(99, 99, 84, 0.588);
  font-size: 30px;
  display: -webkit-box;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.news_item .left p {
  margin-top: 6px;
  font-size: 26px;
  color: #969494;
}

.news_item .right .adm-image {
  width: 150px;
  height: 150px;
}
